.Manage {
  padding-bottom: 165px;
  display: flex;
  justify-content: space-between;
}
.block {
  width: 445px;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #242d52;
  margin-bottom: 24px;
}
.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #242d52;
  opacity: 0.5;
}
.block_2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
