.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #242d52;
  margin-bottom: 19px;
}
.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #242d52;
  opacity: 0.5;
}
.box {
  width: 540px;
  display: flex;
  gap: 28px;
}
.btn_wrap {
  transform: translateY(-6px);
}
